APP_NAME="Your App Name"
APP_ENV=production
APP_KEY=base64:YOUR_APP_KEY_HERE
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_TEST_LOGIN_SHORTCUTS=false
APP_TEST_LOGIN_ADMIN_USER=USER_ID
APP_TEST_LOGIN_DEALER_USER=USER_ID

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TIMEZONE=Asia/Kuala_Lumpur

LOG_LEVEL=warning

DB_CONNECTION=firebird
DB_HOST=your-db-host
DB_PORT=3050
DB_DATABASE=/path/to/your/database.fdb
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

SESSION_DRIVER=file
SESSION_LIFETIME=30
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_EXPIRE_ON_CLOSE=false
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

MAIL_SCHEME=null
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_email_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your_email@example.com
MAIL_FROM_NAME="Your App Name"

PASSKEY_RP_NAME="${APP_NAME}"
PASSKEY_RP_ID=localhost
INTERNAL_API_KEY=your_internal_api_key

VITE_APP_NAME="${APP_NAME}"